<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Pro</th>
      <th>Pro name</th>
      <th>Pro image</th>
      <th>Pro status</th>
      <th>Roots</th>
      <th>Description</th>
      <th>Rate</th>
      <th>Digital</th>
      <th>Customer question</th>
      <th>Feedback</th>
      <th>Customer reviews</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.pro_id %></td>
        <td><%= product.pro_name %></td>
        <td><%= product.pro_image %></td>
        <td><%= product.pro_status %></td>
        <td><%= product.roots %></td>
        <td><%= product.description %></td>
        <td><%= product.rate %></td>
        <td><%= product.digital %></td>
        <td><%= product.customer_question %></td>
        <td><%= product.feedback %></td>
        <td><%= product.customer_reviews %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
